name: Build and Deploy Code

on: [push, pull_request]

jobs:
   job1:
     runs-on: ubuntu-latest
     steps:
       - name: pullling git repo
         uses: actions/checkout@v2
       - name: say hi to adan
         run: echo "HELLO ADAN"

